<app-user-nav></app-user-nav>
<div *ngIf="loading; then thenBlock else myelseBlock"></div>
<ng-template #thenBlock>
  <app-loading></app-loading>
</ng-template>
<ng-template #myelseBlock>
  <!-- <main> -->
  <section class="cards">



    <!-- <div > -->

    <div class="crd" *ngFor="let item of fooditems;index as i">
      <div class="wrapper">
        <div class="containerr">
          <!-- http://localhost:3000/backend/uploads/1-10-2021-12-31-1-4.jpg -->
          <div class="top"><img src="{{item.foodimage}}" alt="No image found"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h3>{{item.foodname}}</h3>
                <p>{{item.foodprice}}₹</p>
              </div>
              <div *ngIf="item.foodavail">
                <div class="buy"><i class="material-icons" (click)="addtocart(item)">add_shopping_cart</i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
          <div class="contents">
            <!-- hellp -->
            <h2>FoodZone</h2>
            <h3>item name - {{item.foodname}}</h3>
            <h3>item price - {{item.foodprice}}₹</h3>
            <h3 *ngIf="!item.unlimited">
              <div *ngIf="item.foodavail; else elseBlock">Available Quantity - {{item.foodqty}}</div>

              <ng-template #elseBlock>
                <div>this item is not available</div>
              </ng-template>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->

  </section>

  <div class="errors" *ngIf="errorMessage">
    <app-message-box [message]="errorMessage" [styl]="styl"></app-message-box>
  </div>
</ng-template>