
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='d.css'> -->

    <!-- nav font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet"> -->




    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
  <app-user-nav></app-user-nav>
    <!-- <main> -->
    <section class="cards">





        <div class="crd">
            <div class="wrapper">
                <div class="containerr">
                    <div class="top"><img src="../../assets/img/8.jpg"></div>
                    <div class="bottom">
                        <div class="left">
                            <div class="details">
                                <h1>Chair</h1>
                                <p>£250</p>
                            </div>
                            <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                        </div>
                    </div>
                </div>
                <div class="inside">
                    <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
                    <div class="contents">
                        <!-- hellp -->
                        <h1>hello</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="crd">
            <div class="wrapper">
                <div class="containerr">
                    <div class="top"><img src="../../assets/img/9.jpg"></div>
                    <div class="bottom">
                        <div class="left">
                            <div class="details">
                                <h1>Chair</h1>
                                <p>£250</p>
                            </div>
                            <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                        </div>
                    </div>
                </div>
                <div class="inside">
                    <div class="icon"><i class="material-icons">info_outline</i></div>
                    <div class="contents">
                        <!-- hellp -->
                        <h1>hello</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="crd">
            <div class="wrapper">
                <div class="containerr">
                    <div class="top"><img src="../../assets/img/13.jpg"></div>
                    <div class="bottom">
                        <div class="left">
                            <div class="details">
                                <h1>Chair</h1>
                                <p>£250</p>
                            </div>
                            <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                        </div>
                    </div>
                </div>
                <div class="inside">
                    <div class="icon"><i class="material-icons">info_outline</i></div>
                    <div class="contents">
                        <!-- hellp -->
                        <h1>hello</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="crd">
            <div class="wrapper">
                <div class="containerr">
                    <div class="top"><img src="../../assets/img/4.jpg"></div>
                    <div class="bottom">
                        <div class="left">
                            <div class="details">
                                <h1>Chair</h1>
                                <p>£250</p>
                            </div>
                            <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                        </div>
                    </div>
                </div>
                <div class="inside">
                    <div class="icon"><i class="material-icons">info_outline</i></div>
                    <div class="contents">
                        <!-- hellp -->
                        <h1>hello</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="crd">
            <div class="wrapper">
                <div class="containerr">
                    <div class="top"><img src="../../assets/img/2.jpg"></div>
                    <div class="bottom">
                        <div class="left">
                            <div class="details">
                                <h1>Chair</h1>
                                <p>£250</p>
                            </div>
                            <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                        </div>
                    </div>
                </div>
                <div class="inside">
                    <div class="icon"><i class="material-icons">info_outline</i></div>
                    <div class="contents">
                        <!-- hellp -->
                        <h1>hello</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="crd">
            <div class="wrapper">
                <div class="containerr">
                    <div class="top"><img src="../../assets/img/6.jpg"></div>
                    <div class="bottom">
                        <div class="left">
                            <div class="details">
                                <h1>Chair</h1>
                                <p>£250</p>
                            </div>
                            <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                        </div>
                    </div>
                </div>
                <div class="inside">
                    <div class="icon"><i class="material-icons">info_outline</i></div>
                    <div class="contents">
                        <!-- hellp -->
                        <h1>hello</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="crd">
          <div class="wrapper">
              <div class="containerr">
                  <div class="top"><img src="../../assets/img/6.jpg"></div>
                  <div class="bottom">
                      <div class="left">
                          <div class="details">
                              <h1>Chair</h1>
                              <p>£250</p>
                          </div>
                          <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
                      </div>
                  </div>
              </div>
              <div class="inside">
                  <div class="icon"><i class="material-icons">info_outline</i></div>
                  <div class="contents">
                      <!-- hellp -->
                      <h1>hello</h1>
                  </div>
              </div>
          </div>
      </div>


    </section>
</body>

</html>
