<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- <link rel='stylesheet' type='text/css' media='screen' href='d.css'> -->

  <!-- nav font -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet"> -->




  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
  <app-user-nav></app-user-nav>
  <!-- <main> -->
  <section class="cards">



    <!-- <div > -->

    <div class="crd" *ngFor="let item of fooditems;index as i">
      <div class="wrapper">
        <div class="containerr">
          <!-- http://localhost:3000/backend/uploads/1-10-2021-12-31-1-4.jpg -->
          <div class="top"><img src="http://localhost:3000/backend/uploads/{{item.foodimage}}" alt="No image found"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h3>{{item.foodname}}</h3>
                <p>{{item.foodprice}}₹</p>
              </div>
              <div *ngIf="item.foodavail">
                <div class="buy"><i class="material-icons" (click)="addtocart(item)">add_shopping_cart</i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
          <div class="contents">
            <!-- hellp -->
            <h2>FoodZone</h2>
            <h3>item name - {{item.foodname}}</h3>
            <h3>item price - {{item.foodprice}}₹</h3>
            <h3 *ngIf="!item.unlimited">
              <div *ngIf="item.foodavail; else elseBlock">Available Quantity - {{item.foodqty}}</div>

              <ng-template #elseBlock><div>this item is not available</div></ng-template>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->

  </section>
</body>

</html>