/* You can add global styles to this file, and also import other style files */
*{
    scroll-behavior: smooth;
}


:root {

  /* --animation-function: cubic-bezier(.15,.3,.14,1.36); */
  --animation-function: cubic-bezier(0.15, 0.3, 0.04, 1.09);
}
 /************************************* scroll start****************************************************** */
        /* width */
        ::-webkit-scrollbar {
          width: 15px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
          background-color: #ffffff;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
          background:#f1f1f1;
          border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: #dddddd;
      }


      /************************************* scroll end****************************************************** */
