<app-user-nav></app-user-nav>
<div class="page-wrapper bg-dark p-t-10 p-b-50">
  <div class="wrapper wrapper--w900">
    <div class="card card-6">
      <div class="card-heading">
        <h2 class="title">Send Feedback</h2>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="card-body">

          <div class="form-row">
            <div class="name">Name</div>
            <div class="value">
              <input class="input--style-6" autocomplete="off" spellcheck="false" type="text" name="name"
                placeholder="Enter you name" ngModel required #name="ngModel">
            </div>
          </div>
          <div class="form-row">
            <div class="name">Your feedback</div>
            <div class="value">
              <textarea class="input--style-6" placeholder="Type your message ..." autocomplete="off" spellcheck="false"
                name="feedback" ngModel required #feedback="ngModel"></textarea>
            </div>
          </div>


        </div>

        <div class="card-footer">
          <button class="btn btn--radius-2 btn--blue-2" [disabled]="f.invalid" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="errors" *ngIf="errorMessage">
  <app-message-box [message]="errorMessage" [styl]="styl"></app-message-box>
</div>