<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
  <app-user-nav></app-user-nav>

  <div *ngIf="empty; else elseBlock">


    <div style="margin-top: 50px;" class="d-flex justify-content-center">
      <div class="row">
        <div class="col">
          <h3 class="text-center mb-5 animated pulse infinite" style="color: #2f2e41;">Seems Like Empty Orderlist!!!!
          </h3>
          <img src="https://storage.googleapis.com/canteen-assets/index/empty.svg" alt="" class="img-fluid "
            style="max-height: 500px;">
        </div>
      </div>
    </div>

  </div>

  <ng-template #elseBlock>
    <div class="container" id="container">

      <div class="row">
        <div class="col-12">

          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order Id</th>
                <th scope="col">Order Status</th>
                <th scope="col">Payment Status</th>
                <th scope="col">View Order</th>
                <th scope="col">Total</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orders;index as i" class="{{item.status}}">
                <th scope="row">{{i+1}}</th>
                <td>{{item._id}}</td>
                <td>
                  {{item.status}}
                </td>
                <td class="{{item.paymentstatus}}">
                  {{item.paymentstatus}}
                </td>
                <td>
                  <i class="fa fa-eye" (click)="vieworder(item)" id="view" aria-hidden="true"></i>
                </td>
                <td>{{item.total}} ₹</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>


  <div class="errors" *ngIf="errorMessage">
    <app-message-box [message]="errorMessage" [styl]="styl"></app-message-box>
  </div>
</body>

</html>