<nav class="navbar  navbar-expand-lg">
  <a [routerLink]="['/userhome']" class="navbar-brand">
    <img src="https://storage.googleapis.com/canteen-assets/index/logo.png" height="30" alt="CoolBrand"
      style="margin-left: 10px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    style="color: white;outline: none;" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "><i class="fa fa-bars" style="color:#F8C44C; font-size:28px;"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item"><a [routerLink]="['/userhome']" class="nav-link">Home</a></li>
      <li class="nav-item"><a [routerLink]="['/myprofile']" class="nav-link">myprofile</a></li>
      <li class="nav-item"><a [routerLink]="['/myorders']" class="nav-link">Myorders</a></li>
      <li class="nav-item"><a [routerLink]="['/feedback']" class="nav-link">Send Feeback</a></li>
      <li class="nav-item"><a [routerLink]="['/']" class="nav-link" (click)="logoutuser()">logout</a></li>
    </ul>
    <a [routerLink]="['/cart']" class="notification" (click)="cnt()">
      <i class="fa fa-shopping-cart" id="ct"></i>
      <span class="badge" id="notycount">{{count}}</span>
    </a>
  </div>
</nav>
<div class="float-right">
  <i class="fa fa-arrow-up " onclick="topFunction()" id="mybtn" style="cursor: pointer;"></i>
</div>

<div class="errors" *ngIf="errorMessage">
  <app-message-box [message]="errorMessage" [styl]="styl"></app-message-box>
</div>