
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-bold">Welcome to FoodZone!</h1>
          <h3 class="lead">
            You don’t need a silver fork to eat good food .
          </h3>
        </div>
      </div>
    </div>
  </header>
  <div class="float-right">
    <i class="fa fa-arrow-up " onclick="topFunction()" id="mybtn" style="cursor: pointer;"></i>
  </div>

