<app-admin-nav></app-admin-nav>
<div *ngIf="loading; then thenBlock else myelseBlock"></div>
<ng-template #thenBlock>
  <app-loading></app-loading>
</ng-template>
<ng-template #myelseBlock>
  <div class="container" style="overflow-x: hidden;">
    <div class="row">
      <div class="col-12">
        <p class="text-center h3 pt-5" style="color: #0a192f;">User Details</p>
      </div>
      <div class="col-12">
        <table class="table table-image">

          <tbody>
            <tr>
              <th scope="row">Name</th>

              <td>{{name}}</td>

            </tr>
            <tr>

              <th scope="row">Email</th>
              <td>{{email}}</td>

            </tr>
            <tr>
              <th scope="row">Contact no</th>
              <td> <a href="tel: {{user.contact}}">{{user.contact}}</a></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="errors" *ngIf="errorMessage">
    <app-message-box [message]="errorMessage" [styl]="styl"></app-message-box>
  </div>
</ng-template>