@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
/* @import url('https://fonts.googleapis.com/css?family=Leckerli+One'); */

img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

img:hover {
  transform: scale(1.04);
}

h2{
  /* text-decoration: none;
  text-transform: capitalize;
  font-family: 'Patrick Hand SC', cursive;
  font-weight: bold;
  font-size: 50px;
  color:#2f2e41;
  text-shadow:#F8C44C 2px 2px 2px; */

  font-family: "Kaushan Script", cursive;
  text-transform: capitalize;
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  color:#2f2e41;
  text-shadow:#F8C44C 2px 2px 2px;

  /* font-family: "Leckerli One", cursive;
  text-transform: capitalize;
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  color:#0a192f;
  text-shadow:#F8C44C 2px 2px 2px; */
}

@media (max-width: 700px) {
  h2{
    font-size: 50px;
  }
}
@media (max-width: 400px) {
  h2{
    font-size: 40px;
  }
}