<!-- <app-indexnav></app-indexnav> -->
<app-indexnavbar></app-indexnavbar>
<div class="containerr sign-up-mode">
  <div class="forms-container">
    <div class="signin-signup">
      <form #a="ngForm" (ngSubmit)="onSubmitForgot(a)" class="sign-up-form">
        <h2 class="title">Forgot Password?</h2>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="text" placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="off" spellcheck="false" ngModel required email
            #email="ngModel" />
        </div>
        <input type="submit" [disabled]="a.invalid" value="Send mail" class="btn solid" />

        <p class="social-text" style="color: red;font-weight: bold;font-size: 20px;" *ngIf="avail">{{msg}}</p>

      </form>

    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">

    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Attention here!!!</h3>
        <p>
          Once you have submitted the request to reset your password, you will receive an email.  Follow the instructions in the email and your password will be reset.
        </p>
        <button class="btn transparent" id="sign-up-btn" >
          Don't Worry
        </button>
      </div>
      <img src="https://storage.googleapis.com/canteen-assets/index/forgotpassword.svg" class="image" alt="" />

    </div>
  </div>
</div>