<app-admin-nav></app-admin-nav>
<div *ngIf="loading; then thenBlock else myelseBlock"></div>
<ng-template #thenBlock>
  <app-loading></app-loading>
</ng-template>
<ng-template #myelseBlock>
  <div class="container" id="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">contact</th>
              <!-- <th scope="col">Add Quantity</th> -->
              <th scope="col">Block User</th>
              <th scope="col">Unblock User</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users;index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>

                <a href="tel: {{user.contact}}">{{user.contact}}</a>

              </td>
              <td>
                <button class="btn btn-link" [disabled]="user.blocked" (click)="block(user)"><i class="fa fa-ban"
                    id="delete" aria-hidden="true"></i></button>
              </td>
              <td>
                <button class="btn btn-link" [disabled]="!user.blocked" (click)="unblock(user)"><i class="fa fa-unlock"
                    id="edit" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="errors" *ngIf="errorMessage">
    <app-message-box [message]="errorMessage" [styl]="styl"></app-message-box>
  </div>

</ng-template>