<!-- <app-indexnav></app-indexnav> -->
<app-indexnavbar></app-indexnavbar>
<div class="containerr sign-up-mode">
  <div class="forms-container">
    <div class="signin-signup">
      <form class="sign-up-form">
        <h2 class="title">Reset Password?</h2>

        <p class="social-text" style="font-weight: bold;"><a  >Please check your mail and click below button for reset password</a></p>
        <a [routerLink]="['/reset-password-done']"><input type="button" value="click here" class="btn solid" /></a>



      </form>

    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">

    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Attention here!!!</h3>
        <p>
          Once you have submitted the request to reset your password, you will receive an email.  Follow the instructions in the email and your password will be reset.
        </p>
        <button class="btn transparent" id="sign-up-btn" >
          Don't Worry
        </button>
      </div>
      <img src="../../../assets/img/forgotpassword.svg" class="image" alt="" />

    </div>
  </div>
</div>