<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- header quizt -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Space+Mono:wght@700&display=swap" rel="stylesheet">
  <!-- h2 font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
</head>

<body>

  <h2 class="text-center mt-5 mb-5">our chefs</h2>
  <!-- cooks -->
  <section id="chef">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="../../../assets/img/chef-1.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>John Smooth</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="../../../assets/img/chef-2.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>Rebeca Welson</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="../../../assets/img/chef-3.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>Kharl Branyt</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="../../../assets/img/chef-4.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>Luke Simon</h4>
          </div>
        </div>
      </div>
    </div>
  </section>



</body>

</html>