
  <h2 class="text-center mt-5 mb-5">our chefs</h2>
  <section id="chef">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="https://storage.googleapis.com/canteen-assets/index/chef-1.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>John Smooth</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="https://storage.googleapis.com/canteen-assets/index/chef-2.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>Rebeca Welson</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="https://storage.googleapis.com/canteen-assets/index/chef-3.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>Kharl Branyt</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <img src="https://storage.googleapis.com/canteen-assets/index/chef-4.jpg" class="img-fluid">
          <div class="text-center pt-1">
            <h4>Luke Simon</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
