<app-user-nav></app-user-nav>
<div *ngIf="loading; then thenBlock else myelseBlock"></div>
<ng-template #thenBlock>
  <app-loading></app-loading>
</ng-template>
<ng-template #myelseBlock>
  <div class="page-wrapper bg-dark p-t-10 p-b-50">
    <div class="wrapper wrapper--w900">
      <div class="card card-6">
        <div class="card-heading">
          <h2 class="title">Edit Profile</h2>
        </div>
        <!-- (ngSubmit)="onSubmit(f)" -->
        <form #f="ngForm">
          <div class="card-body">

            <div class="form-row">
              <div class="name">Email</div>
              <div class="value">
                <input class="input--style-6" autocomplete="off" spellcheck="false" type="email" name="email"
                  [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              </div>
            </div>
            <div class="form-row">
              <div class="name">Name</div>
              <div class="value">

                <input class="input--style-6" type="text" autocomplete="off" spellcheck="false" name="name"
                  [(ngModel)]="name" required>
              </div>
            </div>

            <div class="form-row">
              <div class="name">Contact no</div>
              <div class="value">

                <input class="input--style-6" type="text" autocomplete="off" spellcheck="false"
                  pattern="^(\+91[\-\s]?)?[0]?(91)?[6789]\d{9}$" name="contact" [(ngModel)]="contact" required
                  maxlength="10">
              </div>
            </div>


          </div>


          <div class="card-footer">
            <button class="btn btn--radius-2 btn--blue-2" [disabled]="f.invalid" data-toggle="modal"
              data-target="#exampleModal" type="submit">Update Profile</button>
          </div>

        </form>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
          <button type="button" class="btn btn-link" data-dismiss="modal" aria-label="Close" style="color: #0a192f;">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <strong>If you have changed your email then you will we logged out and you have to login with new
            email!</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary px-3 " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary px-3 " (click)="onSubmit(f)" data-dismiss="modal">I
            agree</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>