<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Font special for pages-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />

</head>

<body>
  <app-user-nav></app-user-nav>
  <div class="page-wrapper bg-dark p-t-10 p-b-50">
    <div class="wrapper wrapper--w900">
      <div class="card card-6">
        <div class="card-heading">
          <h2 class="title">Edit Profile</h2>
        </div>
        <form #f="ngForm"  (ngSubmit)="onSubmit(f)">
        <div class="card-body">

          <div class="form-row">
            <div class="name">Email</div>
            <div class="value">
              <input class="input--style-6" autocomplete="off" spellcheck="false" type="email" name="email" [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required >
            </div>
          </div>
          <div class="form-row">
            <div class="name">Name</div>
            <div class="value">

              <input class="input--style-6" type="text" autocomplete="off" spellcheck="false"
                name="name" [(ngModel)]="name" required >
            </div>
          </div>

          <div class="form-row">
            <div class="name">Contact no</div>
            <div class="value">

              <input class="input--style-6" type="text" autocomplete="off" spellcheck="false"
              pattern="^(\+91[\-\s]?)?[0]?(91)?[6789]\d{9}$" name="contact" [(ngModel)]="contact" required maxlength="10">
            </div>
          </div>


        </div>


        <div class="card-footer">
          <button class="btn btn--radius-2 btn--blue-2" [disabled]="f.invalid" type="submit">Update Profile</button>
        </div>

        </form>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>





</body>

</html>