<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <!-- navbar -->
  <app-indexnavbar></app-indexnavbar>

  <!-- header image -->
  <app-header></app-header>


  <!-- food items -->
  <app-food></app-food>

  <!-- chefs -->
  <app-chefs></app-chefs>

  <!-- footer -->
  <section>
    <footer class="mb-4">
      <div class="text-center py-3 font-weight-bold" style="color: tomato;">©2020 Copyright : Utsav Shekh & Deep Donda
      </div>
    </footer>
  </section>

</body>

</html>