<!doctype html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
  <!-- fa -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>


  <nav class="navbar  navbar-expand-lg">
    <a [routerLink]="['/admin/adminhome']" class="navbar-brand">
      <img src="../../../assets/img/logo.png" height="30" alt="CoolBrand" style="margin-left: 10px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      style="color: white;" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "><i class="fa fa-bars" style="color:#F8C44C; font-size:28px;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a [routerLink]="['/admin/adminhome']" class="nav-link">Home</a></li>
        <li class="nav-item"><a [routerLink]="['/admin/addfood']" class="nav-link">Add Item</a></li>
        <li class="nav-item"><a [routerLink]="['/admin/seefood']" class="nav-link">View Item</a></li>
        <li class="nav-item"><a [routerLink]="['/admin/viewusers']" class="nav-link">View customer</a></li>
        <li class="nav-item"><a [routerLink]="['/admin/orderhistory']" class="nav-link">Order History</a></li>
        <li class="nav-item"><a [routerLink]="['/admin/viewfeeback']" class="nav-link">View feedback</a></li>
        <li class="nav-item"><a [routerLink]="['/']" class="nav-link" (click)="logoutuser()">logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="float-right">
    <i class="fa fa-arrow-up " onclick="topFunction()" id="mybtn" style="cursor: pointer;"></i>
  </div>
</body>

</html>